<ul class="tab float-right">
{% for page in pages.children.visible %}
    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
    <li class="tab-item {{ current_page }}">
        <a href="{{ page.url }}">
            {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
            {{ page.menu }}
        </a>
    </li>
{% endfor %}
</ul>

